memo/
sourcerule.txt
sources/*
!sources/.gitkeep
.cursorignore
converted_md/*
src/converter/converted_md/*
!converted_md/.gitkeep
__pycache__
*.log
build/
dist/
main.spec
.venv
venv
.idea
TEST.py
*.egg-info
test.md
downloaded
